<a routerLink="">Return List of Products</a>
<br>
<br>
<form  (ngSubmit)="updateProductById()">
  <input type="text" [(ngModel)]="product.id" name="id" id="id" hidden>
  <label for="name">Name</label>
  <input type="text" [(ngModel)]="product.name" name="name" id="name">
  <label for="description">Description</label>
  <input type="text" [(ngModel)]="product.description" name="description" id="description">
  <label for="price">Price</label>
  <input type="text" [(ngModel)]="product.price" name="price" id="price">
  <button type="submit">Update</button>
</form>
